body {
    background-color: papayawhip;
}

.nav {
    overflow: hidden;
    border-bottom: 1px solid palevioletred;
}

.nav .title {
    font-family: 'Open Sans', sans-serif;
}

.nav a {
    float: left;
    display: block;
    text-decoration: none;
    color: palevioletred;
    border: 1px solid palevioletred;
    border-radius: 10px;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.nav-right {
    float: right;
}

.nav-right a {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}